.flex-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.text-container {
  font-size: 3rem;
  color: white;
  padding: 3vh;
  flex: 1;
  display: flex;
}
.text-container--top > span {
  align-self: flex-end;
}
.text-container--bottom > span {
  align-self: flex-start;
}

.video-container {
  padding: 0 3vh;
}

.video-container > * {
  padding: 1vh;
  max-height: 100%;
  max-width: 100%;
  background: white;
  border-radius: 15px;
  box-sizing: border-box;
}

.video-container > .on-top {
  display: initial;
}
.video-container > .hidden {
  display: none;
}
