.video-container {
  padding: 0 3vh;
}

.video-container > * {
  padding: 1vh;
  max-height: 100%;
  max-width: 100%;
  background: white;
  border-radius: 15px;
  box-sizing: border-box;
}

.video-container > .on-top {
  display: initial;
}
.video-container > .hidden {
  display: none;
}
